.row-fluid
  .well.span12
    form.offset3.form-horizontal(action="/upload", method="post", enctype="multipart/form-data")
      .control-group
        .controls
          input#image.input-large(type='file', name='image', placeholder="Choose an image")
      .control-group
        .controls
          button.btn.submitBtn(type="submit") Upload

.row-fluid.isotope#images
  for img in images
    .well.item
      img(src="/uploads/#{img}")